// Nova Tool CSS
.laravel-nova-configs {
  &__menu {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    min-width: 200px;

    li {
      display: block;
      color: #999999;
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.4;
      border-bottom: 1px solid #fff;
      text-transform: uppercase;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        color: #111111;
      }
      &.active {
        color: #000000;
        background: #fff;
        position: relative;
        margin-right: -10px;
      }
    }
  }
  &__title {
    text-transform: uppercase;
  }
  &__content {
  }
}
